# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Build Output
# ===============================
dist/
build/

# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# ===============================
# Vite
# ===============================
.vite/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# ===============================
# Cache
# ===============================
.cache/
